<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <!-- Database properties DataSource -->
    <session-factory>

        <!-- Data Source Configuration -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mustbuy</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">rootroot</property>

        <!-- Session Factory Configuration -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entity Classes to Scan -->
        <mapping class="com.example.demo.model.Product" />
        <mapping class="com.example.demo.model.Authorities" />
        <mapping class="com.example.demo.model.BillingAddress" />
        <mapping class="com.example.demo.model.Cart" />
        <mapping class="com.example.demo.model.CartItem" />
        <mapping class="com.example.demo.model.Customer" />
        <mapping class="com.example.demo.model.CustomerOrder" />
        <mapping class="com.example.demo.model.ShippingAddress" />
        <mapping class="com.example.demo.model.User" />
        <mapping class="com.example.demo.model.Queries" />

    </session-factory>
</hibernate-configuration>
